{% extends 'home/base.html' %}
{% load static %}
{% block start %}

  <!-- item section -->

  <div class="item_section layout_padding2">
    <div class="container">
      <div class="item_container">
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
            <img src="{% static 'images/i-1.png' %}" alt="">
          </div>
          <div class="name">
            <h5>
              Bracelet
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
            <img src="{% static 'images/i-2.png' %}" alt="">
          </div>
          <div class="name">
            <h5>
              Ring
            </h5>
          </div>
        </div>
        <div class="box">
          <div class="price">
            <h6>
              Best PRICE
            </h6>
          </div>
          <div class="img-box">
            <img src="{% static 'images/i-3.png' %}" alt="">
          </div>
          <div class="name">
            <h5>
              Earings
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end item section -->
<!-- price section -->

<section class="price_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Our Jewellery Price
      </h2>
    </div>
    <div class="price_container">
      {% for price in prices %}
      <div class="box">
        <div class="name">
          <h6>
            {{ price.jewelry.name }}
          </h6>
        </div>
        <div class="img-box">
          <img src="{{ price.jewelry.image.url }}" alt="{{ price.jewelry.name }}">
        </div>
        <div class="detail-box">
          <h5>
            $<span>{{ price.price }}</span>
          </h5>
          <a href="">
            Buy Now
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
      <a href="" class="price_btn">
        See More
      </a>
    </div>
  </div>
</section>

  <!-- end price section -->


  {% endblock start %}


